<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Cars Database</h1>
<a href="/add">Add details of your Car</a><br/>
<table>
    <tr>
        <th>Car Make</th>
        <th>Car Model</th>
        <th>Year</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.carmake}"></td>
        <td th:text="${todo.carmodel}"></td>
        <td th:text="${todo.caryear}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${todo.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${todo.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>